// Variables for color, font, and breakpoints


$primary-color: #660099;
$secondary-color: #666 ;
$auxilary-color: #fff;

$primary-text: #000;
$secondary-text: #666;

$hFont: 'Titillium Web', sans-serif;
$pFont: 'Lato', sans-serif;


$bp-tablet: 760px;
$bp-desktop: 1020px;
$bp-xl: 1400px;