/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: rgb(46, 48, 50);
	margin: 0%;
}

.wrap{
	margin: 0% 15%;
}





/* 2. Content ================================= */

.headbar{
	background-color: #eee;
	height: fit-content;
	display: flex;
	display: flex;
	flex-direction: column;
	
	.headContent{
		display: flex;
		justify-content: space-between;
		flex: 3;
		

		.headLogo{
			display: flex;
			padding: 0px 1.3em;
			width: 33.3%;
			justify-content: space-between;

			.logoLink{
				padding-top: .42em;
				z-index: 3;
	
				.dreadlogo{
					margin-left: 1.3em;
					width: 4.2em;
					height: 4.2em;
				}
			}
		}
		.cartDiv{
			width: 33.3%;
			display: flex;
			margin-left: auto;
			justify-items: right;
			align-items: center;
			padding-top: 1.3em;
			z-index: 2;
			
			img{
				width: 3em;
				height: 3em;
			}
			.headButt{
				display: flex;
				margin-left: auto;

				.cartButt{
					display: flex;
					.cartCount{
						margin-left: -42%;
						margin-top: -26%;
						font-weight: 600;
						font-size: 1.3em;
					}
				}
			}
		}
		.nav{
			width: 15%;
			display: flex;
			justify-content: right;
			.hide-small{
				display: none;

			}
			.daburger{
				width: 7em;
				align-items: center;
				background-color: #eee;
				border: .13em #660099 solid;
				border-top: none;
				border-bottom: none;
				justify-content: center;
				display: flex;
				flex-direction: column;
				margin-left: auto;

				
				
				div{
					padding: 4.2% 0%;
					margin: 4.2% 0%;
					background: linear-gradient(-45deg, #666, #444, #660099, #990066);
					background-size: 400% 400%;
					animation: gradient 4.2s ease infinite;
					border: .013em #660099 solid;
					width: 75%;
					position: relative;
					animation: normal 13s ease;
				}
				.daburger:active::after{
					content: "";
					.dagoods{
						transition: opacity 420ms ease 130ms;
					}
					.topbun,
					.botbun{
						transform: rotate(45deg);
					}
				}
				.topbun{
					margin-top: 13%;
				}
			}
		}
	}

	.colorbar{
		height: .42em;
		width: 100%;
		background: linear-gradient(-45deg,  #666, #660099, #990066, #CC00FF);
		background-size: 400% 400%;
		animation: gradient 13s ease infinite;
		display: inline-block;
		margin-top: auto;
	}
}

.description{

	.hero{
		background: linear-gradient(-45deg,  #666, #660099, #990066, #CC00FF);
		background-size: 400% 400%;
		animation: gradient 13s ease infinite;
		border: 1.3em #eee solid;
		border-radius: 13px;
		padding: 7em 0em;
		margin: 4.2% 1.3%;
		overflow: hidden;

		.heroImgs{
			display: flex;
			padding: -1.3em 0em;
			height: 50%;
			justify-content: space-evenly;
			background-color: #000;


			img{
				width: 13em;
				height: 13em;
				margin: -5% 0%;

			}
			.skull1{
				transform: rotateY(180deg);
			}
			.skull3{
				transform: rotateY(180deg);
			}
		}

	}
}

.options{

	.cta{
		background: #eee;
		--borderWidth: 4.2px;
		position: relative;
		border-radius: var(--borderWidth);
		padding: 1.3em;
		margin: 0em -1.3em;
		width: fit-content;
		text-align: center;

		p{
			margin-bottom: 1.3em;
		}

		a{
			text-transform: capitalize;
			text-decoration: none;
			color: black;
		}
		a:hover{
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			background-size: 200% auto;
			background-clip: text;
			text-fill-color: transparent;
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
			animation: animatedgradient 3s ease alternate infinite;
			font-size: larger;
			font-weight: 700;
		}
	}
	.cta::after {
		content: '';
		position: absolute;
		top: calc(-1 * var(--borderWidth));
		left: calc(-1 * var(--borderWidth));
		height: calc(100% + var(--borderWidth) * 2);
		width: calc(100% + var(--borderWidth) * 2);
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
		border-radius: calc(2 * var(--borderWidth));
		z-index: -1;
		animation: animatedgradient 3s ease alternate infinite;
		background-size: 300% 300%;
	}
	
	.choices{
		display: flex;
		flex-direction: column;

		.option{
			background-color: #fff;
			border: .42em #660099 solid;
			border-radius: 13px;
			display: flex;
			flex-direction: column;
			margin: 9% 0%;
			text-align: center;
			align-items: center;
			

			.tagHolder{
				display: flex;
				position: relative;
				width: 60%;
				margin-right: auto;
				

				.tag{
					position: absolute;
					margin-top: -.66%;
					margin-bottom: auto;
					margin-left: -1.3%;
					width: max-content;
					background: linear-gradient(-45deg, #666, #444, #660099, #990066);
					background-size: 400% 400%;
					animation: gradient 4.2s ease infinite;
					color: #fff;
					text-shadow: 0 0 3px #000;
					padding: 0em .42em;
					border-radius: 13px;
					border: .42em #660099 solid;
				}
			}

			img{
				transform: rotateY(180deg);
				width: 6.66em;
				align-self: center;
				margin-top: -17%;
			}

			.skulls span{
				font-size: 6.66em;
			}
			.glad .fas{
				color: silver;
			}


			.h3{
				margin-top: -13%;
			}

			.desc{
				line-height: 1.3;
				word-spacing: .13em;
				font-size: 24px;

				span{
					text-transform: capitalize;
				}

				ul{
					text-align: left;
					text-transform: capitalize;
					font-size: 18px;



					li{
						line-height: 1.5;
						letter-spacing: .1em;
					}
					div{
						line-height: 1.5;
						letter-spacing: .1em;
					}
				}
			}
			

			button{
				margin-top: auto;
				background: linear-gradient(-45deg,  #666, #660099, #990066, #CC00FF);
				background-size: 400% 400%;
				animation: gradient 13s ease infinite;
				color: #fff;
				text-shadow: 0 0 3px #000;
				text-transform: capitalize;
				width: fit-content;
				border: .13em #000 solid;
				border-radius: 13px;
				padding: 1.3em;
				margin-bottom: 1.3%;
			}
		}
	}
}


footer{
    display: flex;
    justify-content: center;
	padding: 10px 10px;
	background:#fff;
    align-items: center;
    font-size: .75em;
    justify-content: space-between;
	bottom: 0%;
	
	ul{
		display: flex;
		
		li{
			margin:0px 2px;
			list-style-type: none;
		}
		
		img{
			width: 4em;
			height: 4em;
		}
	}
}



// gradients
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
